# Dependencies
/node_modules
/functions/node_modules

# Build output
.next/
out/

# Firebase
.firebase/
database-debug.log
firestore-debug.log
storage-debug.log
firebase-debug.log

# Local environment
.env.local
*.log
